@import "../fonts/iconfont.css";
/**基础参数 开始**/
.trans5 {
  transition: all ease 0.5s;
}
/**基础参数 结束**/
/*全局按钮 开始*/
.link_more {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 1px solid #999;
  color: #999;
  padding: 10px 20px;
  z-index: 1;
  transition: all 1s;
  display: inline-block;
}
.link_more:hover {
  color: #fff;
  border-color: #aa7d35;
}
.link_more_solid {
  background-color: #aa7d35;
  border-color: #aa7d35;
  color: #fff !important;
  transition: all ease 0.5s;
}
.link_more_solid:hover {
  background-color: #cb8310;
}
.link_more:before,
.link_more:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 15px;
  height: 15px;
  background: #aa7d35;
  border-radius: 50%;
  transition: 0.6s;
  z-index: -1;
}
.link_more:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.link_more:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.link_more:hover:before {
  -webkit-animation: criss-cross-left 0.6s both;
  animation: criss-cross-left 0.6s both;
}
.link_more:hover:after {
  -webkit-animation: criss-cross-right 0.6s both;
  animation: criss-cross-right 0.6s both;
}
/*全局按钮 结束*/
/*基础样式 开始*/
html,
body {
  background-color: #fff;
}
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #666;
}
a {
  color: #666;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 52px;
  }
}
.rdy_banner {
  height: 520px;
  background-attachment: fixed;
  background-size: auto 100%;
  position: relative;
  background-position: center 65%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rdy_banner .rdy_title {
  text-align: center;
}
.rdy_banner .rdy_title h1 {
  font-size: 22px;
}
.rdy_banner .rdy_title .title_x {
  font-size: 18px;
}
.rdy_banner:before {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  content: '';
  background: linear-gradient(to bottom, #000000 0%, transparent 100%);
  z-index: 1;
}
@media (min-width: 767px) {
  .rdy_banner {
    height: 860px;
    background-position: center bottom;
  }
}
@media (min-width: 992px) {
  .rdy_banner {
    background-position: center 65%;
  }
}
@media screen and (max-width: 992px) {
  .rdy_banner {
    background-attachment: scroll;
    background-size: auto 100% !important;
  }
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
b {
  font-weight: normal;
}
.ellipsis_for_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis_for_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.ellipsis_for_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.block_main {
  padding-top: 50px;
  padding-bottom: 50px;
}
.article_content {
  text-align: justify;
  text-justify: inter-ideograph;
}
.article_content img {
  max-width: 100%;
}
.block_shade {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.form-control:focus {
  color: #333;
  border-color: #e59c13;
  box-shadow: 0 0 0 0.2rem rgba(229, 156, 19, 0.2);
}
.opa0 {
  filter: alpha(opacity=0);
  opacity: 0;
}
.opa1 {
  filter: alpha(opacity=100);
  opacity: 1;
}
.title_block {
  letter-spacing: 2px;
}
.title_block .h_title {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}
.title_block .h_sub_title {
  font-size: 22px;
}
.title_block .h_title,
.title_block .h_sub_title {
  margin-bottom: 15px;
}
.title_block ul {
  margin-bottom: 20px;
}
.title_block ul li {
  font-size: 16px;
  line-height: 30px;
}
.title_block .sub_title {
  color: #666;
  text-transform: uppercase;
}
.wechat_btn {
  position: relative;
}
@media (min-width: 1500px) {
  #rodi_top_nav .container,
  footer .container {
    width: 1470px;
  }
}
/*基础样式 结束*/
/*动画 开始*/
.nav_font_move {
  overflow: hidden;
}
@media (min-width: 767px) {
  .nav_font_move {
    position: relative;
    animation: nav_font_move 0.5s;
  }
}
@keyframes nav_font_move {
  0% {
    top: 0;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  35% {
    top: -30px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  65% {
    top: 30px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    top: 0;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes scale-wave {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes scale-wave-icon {
  0% {
    color: #fff;
    opacity: 0.8;
  }
  100% {
    color: #333;
    opacity: 1;
  }
}
/*动画 结束*/
/*导航 开始*/
#rodi_top_nav .navbar-collapse {
  max-height: 1080px;
  height: 1080px;
}
#rodi_top_nav .navbar-nav > .open > a,
#rodi_top_nav .navbar-nav > .open > a:focus,
#rodi_top_nav .navbar-nav > .open > a:hover {
  background-color: transparent;
}
#rodi_top_nav .navbar,
#rodi_top_nav .navbar-header {
  min-height: 70px;
}
#rodi_top_nav .nav > li > a {
  padding: 25px 15px;
}
#rodi_top_nav .navbar-brand {
  padding: 8px 15px;
}
#rodi_top_nav button.navbar-toggle {
  margin-top: 20px;
}
#rodi_top_nav .navbar-brand > img {
  height: 50px;
}
@media screen and (max-width: 767px) {
  #rodi_top_nav .navbar,
  #rodi_top_nav .navbar-header {
    min-height: 50px;
  }
  #rodi_top_nav button.navbar-toggle {
    margin-top: 10px;
  }
  #rodi_top_nav .navbar-brand > img {
    height: 35px;
  }
}
#rodi_top_nav .navbar-nav > li > a {
  color: #fff;
}
#rodi_top_nav .navbar-main li > a span:after {
  border-bottom: 1px solid transparent;
}
#rodi_top_nav .navbar-main li > a span {
  padding-bottom: 15px;
  position: relative;
}
#rodi_top_nav .navbar-main li > a span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all ease 0.5s;
  width: 0%;
}
#rodi_top_nav .navbar-main li.act > a span:after {
  border-bottom: 1px solid #fff;
  width: 100%;
}
#rodi_top_nav .navbar-main li:hover > a span:after {
  border-bottom: 1px solid #fff;
  width: 100%;
}
@media (min-width: 1200px) {
  #rodi_top_nav .navbar-main li.nav_item {
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  #rodi_top_nav .navbar-main > li > a {
    padding: 25px 12px;
  }
  #rodi_top_nav .navbar-right .dropdown-menu {
    right: -50%;
  }
}
#rodi_top_nav .nav_icon {
  margin-left: 20px;
}
#rodi_top_nav .nav_icon a,
#rodi_top_nav .nav_icon i {
  transition: all ease 0.5s;
}
#rodi_top_nav .nav_icon li:nth-child(1) i,
#rodi_top_nav .nav_icon li:nth-child(2) i {
  font-size: 14px;
}
#rodi_top_nav .nav_icon li:nth-child(3) i {
  font-size: 18px;
}
#rodi_top_nav .nav_icon li:nth-child(2) i {
  transform: rotate(250deg);
  display: inline-block;
}
#rodi_top_nav .nav_icon li > a {
  border: 1px solid #fff;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
}
#rodi_top_nav .nav_icon li:hover a {
  background-color: #fff;
}
#rodi_top_nav .nav_icon li:hover a i {
  color: #333;
}
#rodi_top_nav .nav_icon li[data-toggle="popover_wechat"]:hover a {
  background-color: #3ecc83;
  border: 1px solid #3ecc83;
}
#rodi_top_nav .nav_icon li[data-toggle="popover_wechat"]:hover a i {
  color: #fff;
}
@media (min-width: 767px) {
  #rodi_top_nav {
    background-color: transparent;
    border-bottom: 0;
  }
  #rodi_top_nav.navNoGetTop {
    /*background-color:rgba(100,100,100,0.7);*/
    background-color: #1f1f1f;
  }
}
/*导航 结束*/
/*page_index begin*/
.page_index {
  margin-bottom: 20px;
  text-align: center;
  padding: 0;
  margin-top: 20px;
}
.page_index li,
.page_index a {
  color: #999;
}
.page_index li {
  display: inline-block;
  min-width: 40px;
  line-height: 35px;
  height: 35px;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 8px 10px ;
}
.page_index li a {
  display: block;
  height: 100%;
  padding: 0 10px;
}
.page_index li,
.page_index a {
  transition: all ease 0.5s;
}
.page_index li.thisclass,
.page_index li:hover {
  background-color: #aa7d35;
  color: #fff;
  border-color: #aa7d35;
}
.page_index li.thisclass a,
.page_index li:hover a {
  color: #fff;
}
.page_index_btn button {
  width: 100%;
}
/*page_index over*/
/*footer begin*/
footer {
  background: url(../assets/images/footer_bg.jpg) center no-repeat;
  background-size: auto 100%;
}
footer .footer_wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 60px;
  text-align: center;
  color: #fff;
}
footer .footer_wrapper a {
  color: #fff;
}
footer .footer_wrapper a {
  text-decoration: none;
}
footer .footer_wrapper #footer_logo_wrapper {
  margin-bottom: 70px;
}
footer .footer_wrapper .footer-middle {
  text-align: left;
}
footer .footer_wrapper .footer-middle h4 {
  font-size: 16px;
  margin-bottom: 30px;
}
footer .footer_wrapper .footer-middle ul.list-unstyled li {
  margin-bottom: 15px;
  font-size: 13px;
}
footer .footer_wrapper .footer-middle ul.list-unstyled li a {
  color: #999;
}
footer .footer_wrapper .footer-middle ul.list-unstyled li a:hover {
  color: #fff;
}
@media (max-width: 767px) {
  footer .footer_wrapper .footer-middle .row .col-nav {
    margin-bottom: 15px;
  }
  footer .footer_wrapper .footer-middle .row .col-nav:nth-child(3n+4) {
    clear: both;
  }
}
footer .footer_wrapper .footer-middle .footer-mail {
  text-align: left;
}
footer .footer_wrapper .footer-middle .footer-mail li {
  width: 120%;
  border: 1px solid #fff;
  padding-left: 15px;
  height: 35px;
  line-height: 35px;
}
footer .footer_wrapper .footer-middle .footer-mail li .glyphicon {
  margin-right: 5px;
}
@media (max-width: 996px) {
  footer .footer_wrapper .footer-middle .footer-mail {
    clear: both;
  }
  footer .footer_wrapper .footer-middle .footer-mail li {
    width: 100%;
  }
}
footer .footer_wrapper .footer-middle .qr-wrapper {
  padding-top: 10px;
  text-align: center ;
}
footer .footer_wrapper .footer-middle .qr-wrapper h4 {
  font-size: 13px;
}
footer .footer_wrapper .footer-middle .qr-wrapper .qr-img {
  display: block;
  border: 3px solid #fff;
}
footer .footer_wrapper .footer-middle .qr-wrapper .qr-img img {
  max-width: 100%;
}
footer .footer-bottom {
  padding-bottom: 20px;
  color: #999;
}
footer .footer-bottom .fw {
  color: #fff;
}
footer .footer-bottom a {
  color: #999;
}
footer .footer-bottom b {
  text-decoration: underline;
}
/*footer over*/
/*float_bar begin*/
.float_bar,
.float_bar_m {
  position: fixed;
  z-index: 299;
}
.float_bar {
  right: 0;
  top: 300px;
}
.float_bar ul li {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(206, 206, 206, 0.8);
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  color: #fff;
}
.float_bar ul li span {
  font-size: 22px;
}
.float_bar ul li:hover {
  background-color: #aa7d35;
}
.float_bar ul li.qq_btn:hover {
  background-color: #78aeff;
}
.float_bar ul li.wechat_btn:hover {
  background-color: #3ecc83;
}
.float_bar_m {
  bottom: 10px;
  right: 10px;
}
.float_bar_m ul li {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  margin-bottom: 3px;
}
/*float_bar over*/
.rdy_banner .rdy_title {
  margin-left: 15%;
}
@media (max-width: 992px) {
  .rdy_banner .rdy_title {
    margin-left: 0;
    color: #fff;
  }
}
.tab_main {
  text-align: center;
  background-color: #aa7d35;
}
.tab_main a {
  color: #fff;
}
.tab_main .tab_option {
  font-size: 18px;
  padding: 28px 50px 20px;
  position: relative;
}
.tab_main .tab_option div.row {
  padding-bottom: 20px;
  border-bottom: 1px solid #aa7d35;
  transition: all ease 0.5s;
  display: inline-block;
}
.tab_main .tab_option div.row .iconfont {
  font-size: 30px;
  vertical-align: middle;
}
.tab_main .tab_option div.row .text-box {
  padding-top: 8px;
}
.tab_main a:first-child .tab_option:after {
  position: absolute;
  right: 0;
  top: 35%;
  content: '';
  width: 1px;
  height: 30px;
  background-color: #fff;
}
.tab_main .tab_option.act div.row,
.tab_main .tab_option:hover div.row {
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 992px) {
  .tab_main .tab_option {
    padding: 10px 50px;
  }
  .tab_main .tab_option div.row {
    padding-bottom: 10px;
  }
}
.article {
  background-color: #f5f6f8;
  padding-top: 50px;
  padding-bottom: 50px;
}
.article .article_wrapper,
.article .article_more_wrapper {
  background-color: #fff;
}
.article .article_wrapper {
  background-color: #fff;
  padding: 50px 20px 30px;
  border-bottom: 1px solid #838383;
}
.article .article_wrapper h1,
.article .article_wrapper .article_info {
  text-align: center;
}
.article .article_wrapper h1 {
  font-size: 30px;
  color: #333;
}
.article .article_wrapper .article_info {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.article .article_wrapper .article_content {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 20px;
}
.article .article_wrapper .article_content img {
  max-width: 100%;
}
.article .article_more_wrapper {
  padding: 20px 10px 30px;
}
.article .article_more_wrapper .article_more_link {
  padding-left: 0;
  width: 50%;
}
.article .article_more_wrapper .article_more_link li,
.article .article_more_wrapper .article_more_link a {
  color: #999;
  font-size: 16px;
}
.article .article_more_wrapper .article_more_link li {
  margin-bottom: 10px;
}
.article .article_more_wrapper .article_more_link a:hover {
  color: #aa7d35;
}
@media screen and (max-width: 767px) {
  .article .article_more_wrapper .article_more_link {
    width: 80%;
  }
  .article .article_more_wrapper .article_more_link li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (min-width: 767px) {
  .article .article_wrapper {
    padding: 50px 50px 30px;
  }
}
@media screen and (min-width: 992px) {
  .article .article_wrapper {
    padding: 50px 100px 30px;
  }
}
